{#=== Options ============================================================================#}

{% set attr_opt = {
    class:        field.class|default(''),
    name:         name,
    key:          key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false)
}%}

{# titlepostfix #}
{% if seoconfig.title_postfix is sameas(false) %}
    {% set titlepostfix = '' %}
{% else %}
    {% set titlepostfix = ' ' ~ seoconfig.title_separator|default('-') ~ ' '
        ~ seoconfig.title_postfix|default(app.config.get('general/sitename')) %}
{% endif %}

{# titlefield #}
{% set titlefield = "" %}
{% for field in seoconfig.fields.title %}
    {% if titlefield is empty and field in context.contenttype.fields|keys %}
      {% set titlefield = field %}
    {% endif %}
{% endfor %}

{# descriptionfield #}
{% set descriptionfield = "" %}
{% for field in seoconfig.fields.description %}
    {% if descriptionfield is empty and field in context.contenttype.fields|keys %}
      {% set descriptionfield = field %}
    {% endif %}
{% endfor %}

{# keywordsfield #}
{% set keywordsfield = "" %}
{% for field in seoconfig.fields.keywords|default([]) %}
    {% if keywordsfield is empty and field in context.contenttype.fields|keys %}
      {% set keywordsfield = field %}
    {% endif %}
{% endfor %}

{% set seovalues = context.content.get(contentkey)|default('')|json_decode|default([]) %}
{% set title_length = seoconfig.title_length|default(70) %}
{% set description_length = seoconfig.description_length|default(156) %}
{% set keywords_length = seoconfig.keywords_length|default(0) %}

{% if seovalues.robots is not defined %}
    {% set seovalues = seovalues|merge({'robots': seoconfig.meta_robots|default("index, follow")})  %}
{% endif %}

{#=== FIELDSET ============================================================================#}

    {# Seo Title #}
    <fieldset class="form-group">
        <label for="seofields-title" class="col-sm-2 main control-label">{{__("SEO Title")}}:</label>
        <div class="col-sm-10">
            <input class="form-control" id="seofields-title" maxlength="255" type="text" value="{{ seovalues.title|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px;">
        <p>{{__("Will be used as the <tt>&lt;title&gt;</tt> and in search engines")}}. {{__("Limit the length to 70 characters")}}.</p>
    </div>

    {# Meta description #}
    <fieldset class="form-group">
        <div class="col-sm-12">
            <label for="seofields-description" class="main control-label">{{__("Meta description")}}:</label>
            <textarea class="form-control" id="seofields-description" style="height: 80px;">{{ seovalues.description|default('') }}</textarea>
        </div>
    </fieldset>

    <div class="postfix">
        <p>{{__('Will be used as the <tt>&lt;meta name="description"&gt;</tt>, and will show up in search engines')}}.
           {{__("Limit the length to 156 characters")}}.</p>
    </div>

    {% if keywords_length > 0 %}
    {# Meta keywords, if set. #}
    <fieldset class="form-group">
        <div class="col-sm-12">
            <label for="seofields-keywords" class="main control-label">{{__("Meta keywords")}}:</label>
            <textarea class="form-control" id="seofields-keywords" style="height: 80px;">{{ seovalues.keywords|default('') }}</textarea>
        </div>
    </fieldset>

    <div class="postfix">
        <p>{{__('Will be used as the <tt>&lt;meta name="keywords"&gt;</tt>, and will show up in <em>some</em> search engines. Use comma separated tags only')}}.
           {{__("Limit the length to 255 characters")}}.</p>
    </div>
    {% else %}
    <input type='hidden' id="seofields-keywords" value='{{ seovalues.keywords|default('') }}'>
    {% endif %}

    {# Seo Google Snippet Preview #}
    <fieldset class="form-group">
    <div class="col-sm-12 snippet-preview">
        <label class="main control-label">{{__("Google snippet preview")}}:</label>
        <div id="seosnippet">
            <span class="title">{{__("Bolt SEO Extension")}}</span>
            <cite>...</cite>
            <div class="excerpt">...</div>
            <div class="footer">‎<a href='#'>{{__("Sitelink")}} 1</a> - <a href='#'>‎{{__("Sitelink")}} 2</a> - ‎<a href='#'>{{__("Sitelink")}} 3</a></div>
        </div>
    </div>
    </fieldset>

    {% if seoconfig.allowed.shortlink|default(true) %}
    {# Shortlink #}
    <fieldset class="form-group">
        <label for="seofields-shortlink" class="col-sm-3 main control-label">{{__("Shortlink")}} ({{__("alias")}}):</label>
        <div class="col-sm-9">
            <input class="form-control narrow" id="seofields-shortlink" maxlength="255" type="text" value="{{ seovalues.shortlink|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;">
        <p>{{__("Use this to create an alias or shortlink to this record. Be sure to make it an absolute link, starting with a <tt>/</tt>")}}.</p>
    </div>
    {% endif %}

    {% if seoconfig.allowed.canonical|default(true) %}
    {# Canonical link #}
    <fieldset class="form-group">
        <label for="seofields-canonical" class="col-sm-3 main control-label">{{__("Canonical Link")}}:</label>
        <div class="col-sm-9">
            <input class="form-control narrow" id="seofields-canonical" maxlength="255" type="text" value="{{ seovalues.canonical|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;">
        <p>{{__('Use this to override the <tt>&lt;link rel="canonical"&gt;</tt>')}}. {{__("Use with caution, and only if you know what you're doing")}}.</p>
    </div>
    {% endif %}

    {% if seoconfig.allowed.robots|default(true) %}
    {# Robots tag #}
    <fieldset class="form-group">
        <label for="seofields-robots" class="col-sm-3 main control-label">{{__("Meta Robots Tag")}}:</label>
        <div class="col-sm-9">
            <select id="seofields-robots" class="narrow form-control pull-left">
            {% for option in ['index, follow', 'noindex, follow', 'index, nofollow', 'noindex, nofollow', 'noodp' ] %}
                <option value="{{ option }}" {% if seovalues.robots == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
            </select>
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;">
        <p>{{__('Use this to set the <tt>&lt;meta name="robots"&gt;</tt>')}}. {{__("Use with caution, and only if you know what you're doing")}}.</p>
    </div>
    {% endif %}

    <input type="hidden" name="{{name}}" id="{{key}}" value="">

    <script>
    jQuery(document).ready(function($) {

        var SeoExtension = Backbone.Model.extend({

            initialize: function () {

                this.titlepostfix = "{{ titlepostfix }}";
                this.titlefield = "{{ titlefield }}";
                this.descriptionfield = "{{ descriptionfield }}";
                this.hostname = "{{ app.paths.rooturl ~ context.contenttype.singular_slug ~ "/" }}";

                this.update();

                $('#seofields-title, #seofields-description').on('keyup input paste', function(){
                    seoExtension.update();
                })

            },

            update: function() {

                if ($('#seofields-title').val() != "") {
                  var title = $('#seofields-title').val() + this.titlepostfix;
                } else {
                  var title = $('#' + this.titlefield).val() + this.titlepostfix;
                }

                if ($('#seofields-description').val() != "") {
                  var description = $('#seofields-description').val();
                } else {
                  var description = $('#' + this.descriptionfield).val();
                }

                var link = $('#slug').text();
                var shortlink = $('#seofields-shortlink').val();
                var canonical = $('#seofields-canonical').val();
                var robots = $('#seofields-robots').val();

                $('#seosnippet .title').text( this.trimtext(title, {{70}}) );
                $('#seosnippet cite').text( this.hostname + link );
                $('#seosnippet .excerpt').text( this.trimtext(description, 156) );

                var value = {
                    'title': $('#seofields-title').val(),
                    'description': $('#seofields-description').val(),
                    'shortlink': $('#seofields-shortlink').val(),
                    'canonical': $('#seofields-canonical').val(),
                    'robots': $('#seofields-robots').val(),
                    'keywords': $('#seofields-keywords').val() }

                $('#{{key}}').val( JSON.stringify(value) );

                window.clearTimeout(this.timer);
                this.timer = window.setTimeout(function(){ seoExtension.update(); }, 3000);

            },

            strip: function(html) {
                var tmp = document.createElement("DIV");
                tmp.innerHTML = html;
                return tmp.textContent || tmp.innerText || '';
            },

            trimtext: function(str, length) {
                str = this.strip(str);
                return str.length > length ? str.substring(0, length - 1) + '…' : str;
            }

        });

        var seoExtension = new SeoExtension();

    });
    </script>



