{#=== Options ============================================================================#}

{% set attr_opt = {
    class:        field.class|default(''),
    name:         name,
    key:          key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false)
}%}

{# titlepostfix #}
{% if seoconfig.title_postfix is sameas(false) %}
    {% set titlepostfix = '' %}
{% else %}
    {% set titlepostfix = ' ' ~ seoconfig.title_separator|default('-') ~ ' '
        ~ seoconfig.title_postfix|default(app.config.get('general/sitename')) %}
{% endif %}

{# titlefield #}
{% set titlefield = "" %}
{% for field in seoconfig.fields.title %}
    {% if titlefield is empty and field in context.contenttype.fields|keys %}
      {% set titlefield = field %}
    {% endif %}
{% endfor %}

{# descriptionfield #}
{% set descriptionfield = "" %}
{% for field in seoconfig.fields.description %}
    {% if descriptionfield is empty and field in context.contenttype.fields|keys %}
      {% set descriptionfield = field %}
    {% endif %}
{% endfor %}

{# keywordsfield #}
{% set keywordsfield = "" %}
{% for field in seoconfig.fields.keywords|default([]) %}
    {% if keywordsfield is empty and field in context.contenttype.fields|keys %}
      {% set keywordsfield = field %}
    {% endif %}
{% endfor %}

{% set seovalues = context.content.get(contentkey)|default('')|json_decode|default([]) %}
{% set title_length = seoconfig.title_length|default(70) %}
{% set description_length = seoconfig.description_length|default(156) %}
{% set keywords_length = seoconfig.keywords_length|default(0) %}

{% if seovalues.robots is not defined %}
    {% set seovalues = seovalues|merge({'robots': seoconfig.meta_robots|default("index, follow")})  %}
{% endif %}

{# show/hide fields #}
{% set show = seoAllowedConfig() %}

{#=== FIELDSET ============================================================================#}

    {# Seo Title #}
    <fieldset class="form-group">
        <label for="seofields-title" class="col-sm-2 main control-label">{{__("SEO Title")}}:</label>
        <div class="col-sm-10">
            <input class="form-control" id="seofields-title" maxlength="255" type="text" value="{{ seovalues.title|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px;">
        <p>{{__("Will be used as the <tt>&lt;title&gt;</tt> and in search engines")}}. {{__("Limit the length to 70 characters")}}.</p>
    </div>

    {# Meta description #}
    <fieldset class="form-group">
        <div class="col-sm-12">
            <label for="seofields-description" class="main control-label">{{__("Meta description")}}:</label>
            <textarea class="form-control" id="seofields-description" style="height: 80px;">{{ seovalues.description|default('') }}</textarea>
        </div>
    </fieldset>

    <div class="postfix">
        <p>{{__('Will be used as the <tt>&lt;meta name="description"&gt;</tt>, and will show up in search engines')}}.
           {{__("Limit the length to 156 characters")}}.</p>
    </div>

    <input id="seofields-title-fallback" maxlength="255" type="text" value="">
    <textarea id="seofields-content-fallback" style="height: 80px;"></textarea>

    {% if keywords_length > 0 %}
    {# Meta keywords, if set. #}
    <fieldset class="form-group">
        <div class="col-sm-12">
            <label for="seofields-keywords" class="main control-label">{{__("Meta keywords")}}:</label>
            <textarea class="form-control" id="seofields-keywords" style="height: 80px;">{{ seovalues.keywords|default('') }}</textarea>
        </div>
    </fieldset>

    <div class="postfix">
        <p>{{__('Will be used as the <tt>&lt;meta name="keywords"&gt;</tt>, and will show up in <em>some</em> search engines. Use comma separated tags only')}}.
           {{__("Limit the length to 255 characters")}}.</p>
    </div>
    {% else %}
    <input type='hidden' id="seofields-keywords" value='{{ seovalues.keywords|default('') }}'>
    {% endif %}

    {# Seo Google Snippet Preview #}
    <fieldset class="form-group">
    <div class="col-sm-12 snippet-preview">
        <label class="main control-label"><h3>{{__("Google snippet preview")}}:</h3></label>
        <div id="seosnippet">
            <span class="title">{{__("Bolt SEO Extension")}}</span>
            <cite>...</cite>
            <div class="excerpt">...</div>
            <div class="footer">‎<a href='#'>{{__("Sitelink")}} 1</a> - <a href='#'>‎{{__("Sitelink")}} 2</a> - ‎<a href='#'>{{__("Sitelink")}} 3</a></div>
        </div>
    </div>
    </fieldset>

    <hr>[1:]
        <div id="snippet">snippet goes here</div>
    <hr>

    <hr>[2:]
        <div id="output">output goes here</div>
    <hr>

    {# Focus keyword #}
    <fieldset class="form-group">
        <label for="seofields-focus-keyword" class="col-sm-3 main control-label">{{__("Focus Keyword")}}:</label>
        <div class="col-sm-9">
            <input class="form-control narrow" id="seofields-focus-keyword" maxlength="40" type="text" value="{{ seovalues.focuskeyword|default('') }}">
        </div>
    </fieldset>


    {# Yoast SEO Analysis output #}
    <fieldset class="form-group">
    <div class="col-sm-12 snippet-preview">
        <label class="main control-label"><h3>{{__("SEO analysis")}}:</h3></label>
        <div id="output"></div>
    </div>
    </fieldset>

    {% if seoconfig.allowed.shortlink|default(true) %}
        {# Shortlink #}
        <fieldset class="form-group"{% if not show.shortlink %} hidden{% endif %}>
            <label for="seofields-shortlink" class="col-sm-3 main control-label">{{__("Shortlink")}} ({{__("alias")}}):</label>
            <div class="col-sm-9">
                <input class="form-control narrow" id="seofields-shortlink" maxlength="255" type="text" value="{{ seovalues.shortlink|default('') }}">
            </div>
        </fieldset>

        <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;"{% if not show.shortlink %} hidden{% endif %}>
            <p>{{__("Use this to create an alias or shortlink to this record. Be sure to make it an absolute link, starting with a <tt>/</tt>")}}.</p>
        </div>
    {% endif %}

    {# Canonical link #}
    <fieldset class="form-group"{% if not show.canonical %} hidden{% endif %}>
        <label for="seofields-canonical" class="col-sm-3 main control-label">{{__("Canonical Link")}}:</label>
        <div class="col-sm-9">
            <input class="form-control narrow" id="seofields-canonical" maxlength="255" type="text" value="{{ seovalues.canonical|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;"{% if not show.canonical %} hidden{% endif %}>
        <p>{{__('Use this to override the <tt>&lt;link rel="canonical"&gt;</tt>')}}. {{__("Use with caution, and only if you know what you're doing")}}.</p>
    </div>

    {# Robots tag #}
    <fieldset class="form-group"{% if not show.robots %} hidden{% endif %}>
        <label for="seofields-robots" class="col-sm-3 main control-label">{{__("Meta Robots Tag")}}:</label>
        <div class="col-sm-9">
            <select id="seofields-robots" class="narrow form-control pull-left">
            {% for option in ['index, follow', 'noindex, follow', 'index, nofollow', 'noindex, nofollow', 'noodp' ] %}
                <option value="{{ option }}" {% if seovalues.robots == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
            </select>
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;"{% if not show.robots %} hidden{% endif %}>
        <p>{{__('Use this to set the <tt>&lt;meta name="robots"&gt;</tt>')}}. {{__("Use with caution, and only if you know what you're doing")}}.</p>
    </div>

    {# og:type meta #}
    <fieldset class="form-group"{% if not show.ogtype %} hidden{% endif %}>
        <label for="seofields-ogtype" class="col-sm-3 main control-label">{{__("Open Graph Type")}}:</label>
        <div class="col-sm-9">
            <input class="form-control narrow" id="seofields-ogtype" maxlength="255" type="text" value="{{ seovalues.ogtype|default('') }}">
        </div>
    </fieldset>

    <div class="postfix" style="margin-top: 8px; margin-bottom: 24px;"{% if not show.ogtype %} hidden{% endif %}>
        <p>{{__('Use this to set the <tt>&lt;meta name="og:type"&gt;</tt>')}}. {{__("Leave blank for the default")}}.</p>
    </div>

    <input type="hidden" name="{{name}}" id="{{key}}" value="">

    <script>
    jQuery(document).ready(function($) {
        {% set hostname = app.paths.rooturl ~ context.contenttype.singular_slug ~ "/" %}
        var seoExtension = new SeoExtension("{{ titlepostfix }}", "{{ titlefield }}", "{{ descriptionfield }}", "{{ hostname }}", "{{ key }}");
    });
    </script>



